<form>
    <input type="text" name="texto" id="texto" placeholder="Ingrese un mensaje">
    <button id="enviar" type="submit">Enviar</button>
</form>

<h1 >Chat</h1>
  

<div class="chatbox">
  {{#each chats}}
    <p>{{this.user}}: {{this.message}}</p>
  {{/each}}
</div>

<script src="/socket.io/socket.io.js"></script>
<script src="/js/chat.js"></script>
