
<h1 class='title'>Lista de productos creados</h1>
{{#if true}}
  {{#each products.payload}}
    <div >
        <p>{{this.title}}</p>
        <button data-id={{this._id}} class="btns">Agregar al carrito</button>
        <br>
    </div>
 
  {{/each}}
  <a href={{products.prevLink}}>Prev Page</a>
  <a href={{products.nextLink}}>Next Page</a>
{{/if}}

<script src="./js/products.js"></script>